<ion-modal-view class="modal-backdrop active" id="sendMailModal">
    <ion-header-bar class="bar bar-header bar-calm" align-title="left">
        <h1 class="title">Enviar Mensagem</h1>
        <button class="button button-clear button-primary button-icon ion-android-close" ng-click="sendMailModal.hide()"></button>
    </ion-header-bar>
    <ion-content class="padding txtCenter">
        <p class="txtBig">Sua mensagem foi enviada com sucesso!</p>
        <p class="txtCenter padding">Para agendar uma visita a este im&oacute;vel, ligue para nossa Central de Atendimento</p>
        <p class="txtBigOrange">(21) 3233-3000</p>
        <p>De segunda a sexta, das 9h &agrave; 18h.</p>
    </ion-content>
</ion-modal-view>